:root {
    --color-primary-blue: #2563EB;
    --color-light-blue: #DBEAFE;
    --color-dark-blue: #1E3A8A;

    --color-primary-orange: #F97316;
    --color-soft-orange: #dec359;

    --color-bg-light: #F3F4F6;
    --color-text-dark: #1F2937;
    --color-text-light: #FFFFFF;
}


.login-page {
    display: flex;
    justify-content: center;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-color: var(--color-primary-blue);
    /* background: url('/i4.webp') no-repeat center center fixed; */ /* optional */
}


.user-icon-div {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#user-icon {
    width: 5rem;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color: var(--color-light-blue);
    width: 400px;
    height: 200px;
    padding: 3rem;
    border-radius: 10px;
    margin-top: 5rem;
    color: var(--color-text-dark);
}

.wrapper h1 {
    color: var(--color-text-dark);

    font-size: 1.5rem;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}

.wrapper .input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    border: 1px solid rgb(158, 222, 63);
    border-radius: 5px;
    background-color: teal;
}

.wrapper .remember-forgot {
    display: flex;
    font-size: 0.7rem;
}

.wrapper button {
    width: 100%;
    height: 100%;
    background-color: rgb(158, 222, 63);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
}

.remember-forgot a {
    text-decoration: none;
}

.remember-forgot a:hover {
    color: rgb(221, 244, 13);
}


.input-box input::placeholder {
    width: 100%;
    height: 100%;
    color: rgb(18, 17, 18);
}