body{
    background-image:url("https://thumbs.dreamstime.com/b/phone-wallpaper-website-red-background-pattern-book-cover-screen-printing-laptop-mobile-visiting-card-115052893.jpg");
    background-size: cover;       /* fills the screen */
    background-repeat: no-repeat; /* prevents repeating */
    background-position: center; 
    height: 100vh;   
    margin: 1rem;
    
        
}

nav ul{
    border-radius: 10px;
    margin: 1rem;
    background-color: magenta;
    gap: 1rem;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    list-style: none;
}
.bottombar{
    display: flex;
    justify-content: center;
    gap:1rem
}
.bottombar #btmbtn{
    text-align: center;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-bottom: 1rem;

}
.mainbody{
        border-radius: 5px;
        background-color: grey;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        min-height: fit-content;
        }
.rightside{
    border-radius: 5px;

    background-color: rgb(159, 42, 159);
}
.leftside{
    border-radius: 5px;

    background-color: blueviolet;
}

@media screen and (max-width: 400px) {
    .mainbody{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1,2fr);

    }
    .leftside{
        display: none;
    }
   
  }